{% extends 'base.html' %}

{% block title %} Estadísticas {% endblock %}

{% block css %} 
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/estadisticas.css')}}"/>
{% endblock %}


{% block content %}
<h1>Estadísticas</h1>
<div class="container">
    <div class = "row">
    <div id = "grafico_linea">Gráfico de lineas</div>
    </div>

    <div class = "row">
    <div id = "grafico_torta">Gráfico de torta</div>
    </div>

    <div class = "row">
    <div id = "grafico_barra">Gráfico de barras</div>
    </div>

    <button type="button"  id="Volver" onclick="location.href='{{ url_for('portada') }}'">Volver a Portada</button>
    {% endblock %}
</div>

{% block javascript %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="{{ url_for('static', filename='JS/listado.js') }}"></script>
<script src="{{ url_for('static', filename='JS/estadisticas.js') }}"></script>
{% endblock %}