{% extends 'base.html' %}

{% block title %} Estadísticas {% endblock %}

{% block css %} 
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/estadisticas.css')}}"/>
{% endblock %}


{% block content %}
<h1>Estadísticas</h1>
<div class="imagenes">
    {% for grafico in graficos %}
        <img src="{{ grafico }}" alt="Gráfico" style="max-width: 600px; margin-bottom: 20px;">
    {% endfor %}
    <button type="button"  id="Volver" onclick="location.href='{{ url_for('portada') }}'">Volver a Portada</button>
    {% endblock %}
</div>

{% block javascript %}
<script lang="javascript" src="{{ url_for('static', filename='JS/listado.js') }}"></script>
{% endblock %}