{% extends 'base.html' %}

{% block title %}Listado de avisos{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/Listado_aviso.css')}}"/>
{% endblock %}

{% block content %}
<div>
    {% if not avisos %}
        <p>No hay avisos de adopción disponibles aún.</p>
    {% else %}
        <table class="table">
            <tr>
                <th>Fecha publicación</th>
                <th>Fecha Entrega</th>
                <th>Comuna</th>
                <th>Sector</th>
                <th>Cantidad tipo edad</th>
                <th>Nombre</th> 
                <th>Contacto</th>
                <th>Total fotos</th>
            </tr>

            {% for aviso in avisos %}
            <tr class="fila" onclick="location.href='{{ url_for('info_listado', ID=aviso.id) }}'">
                <td>{{ aviso.fecha_publicacion }}</td>
                <td>{{ aviso.fecha_entrega }}</td>
                <td>{{ aviso.comuna }}</td>
                <td>{{ aviso.sector }}</td>
                <td>{{ aviso.cantidad }} {{ aviso.tipo }} de {{ aviso.edad }} {{ 'años' if aviso.unidad_medida == 'a' else 'meses' }}</td>
                <td>{{ aviso.nombre }}</td>
                <td>{{ aviso.contacto }}</td>
                <td>{{ aviso.cantidad_foto }}</td>
            </tr>
            {% endfor %}
        </table>

        <div class="paginacion">
            {% if page > 1 %}
            <a href="{{ url_for('listado', page=page-1) }}">Anterior</a>
            {% endif %}

            <span>Página {{ page }} de {{ total_pages }}</span>

            {% if page < total_pages %}
            <a href="{{ url_for('listado', page=page+1) }}">Siguiente</a>
            {% endif %}
        </div>
    {% endif %}
</div>

<button type="button"  id="Volver" onclick="location.href='{{ url_for('portada') }}'">Volver a Portada</button>
{% endblock %}

{% block javascript %}
<script src="{{ url_for('static', filename='JS/listado.js') }}"></script>
{% endblock %}